@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Black.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 32px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

p {
  color: #787878;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  padding: 2em;
  text-align: center;
}

li {
  font-size: 1.2em;
}

a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 0 1rem;
}

nav {
  background: rgb(244, 147, 55);
  background: linear-gradient(
    90deg,
    rgba(244, 147, 55, 1) 0%,
    rgba(204, 46, 120, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.logo img {
  height: 21px;
}

.menu {
  display: none;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.menu a {
  padding: 0 0.5em;
}

nav.open .menu {
  display: block;
}

.hamburger-menu {
  display: none;
  position: absolute;
  right: 0;
  padding: 1em;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
}

.heroBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 70vh;
  color: white;
  background: url(../assets/img/home.jpg);
  background-size: cover;
  background-position: center center;
}

.heroBanner h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 2em;
  width: 70%;
}

.heroBanner h1 b {
  font-weight: bold;
}

.heroBanner a {
  padding: 1em 2.5em;
  border-radius: 2em;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #cc2e78;
}

.heroPages h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0;
}

.heroPages p {
  color: white;
  font-size: 24px;
  padding: 1em 0;
  width: 70%;
}

.heroChatbot {
  background: url(../assets/img/chatbot.jpg);
  background-size: cover;
  background-position: center center;
}

.heroRpa {
  background: url(../assets/img/RPA.jpeg);
  background-size: cover;
  background-position: center center;
}

.heroRobotics {
  background: url(../assets/img/robotics.jpeg);
  background-size: cover;
  background-position: center center;
}

.call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  background-color: #f49337;
  text-align: center;
  padding: 1em;
}

.call p {
  color: white;
  font-weight: 600;
  padding: 0;
}

.call a {
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #cc2e78;
}

.intro,
.introRob {
  padding-top: 5em;
}

.robotsHome {
  width: 100%;
  padding: 2em;
  background: rgb(244, 147, 55);
  background: linear-gradient(
    180deg,
    rgba(244, 147, 55, 1) 0%,
    rgba(204, 46, 120, 1) 100%
  );
}

.introRpa {
  padding-top: 5em;
}

.video {
  text-align: center;
}

video {
  width: 90%;
}

.centrado {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bullets {
  padding: 2em;
  margin-left: 1em;
  color: #787878;
  width: 100%;
}

.bullS {
  list-style-image: url("../assets/img/check.svg");
}

.bullS li {
  padding: 0.25em;
}

.bullS li::marker {
  font-size: 1.5em;
}

.puntosRPA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.puntoRPA {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.puntoRPA img {
  width: min-content;
  height: min-content;
}

.puntoRPA p {
  padding: 1em;
}

.dividerRPA {
  display: inline-block;
  height: 2px;
  width: 33%;
  background: #d9d9d9;
}

.divisorChat {
  border-width: 0;
  margin-top: 1em;
  height: 21px;
  width: 100%;
  background-color: #c92e78;
}

.divisorRpa {
  border-width: 0;
  margin-top: 1em;
  height: 21px;
  width: 100%;
  background-color: #f49337;
}

.divisorRob {
  border-width: 0;
  margin-top: 1em;
  height: 21px;
  width: 100%;
  background-color: #36bf01;
}

.homeRob .robotsHome::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 50%;
  background: url(../assets/img/curva2.svg);
  background-repeat: repeat-x;
  background-position: top center;
}

.robotsHome img {
  padding-bottom: 4em;
}

.robotsHome h2 {
  color: white;
}

.robotsHome .slick-dots {
  bottom: 95px;
  left: 0;
  right: 0;
  width: inherit;
}

.robotsHome .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #fff;
}

.robotsHome .slick-dots li button:before {
  color: #fff;
}

.homeRob .slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.robotHome {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.introRob::after {
  content: "";
  position: absolute;
  height: 155px;
  background: url(../assets/img/curva2.svg);
  left: 0;
  right: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: -1px;
}

.botonHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.botonHome a {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 60%;
  border-radius: 50px;
  padding: 1em 2em;
}

.botonHome p {
  display: inline-block;
  font-weight: 800;
  font-size: 16px;
  padding: 0;
}

.botonHome i {
  justify-self: center;
  align-self: center;
  font-size: 1.5em;
}

.botonChat a {
  border: 1px solid #c92e78;
}

.botonChat p {
  color: #c92e78;
}

.botonChat i {
  color: #c92e78;
}

.botonRpa a {
  border: 1px solid #f49337;
}

.botonRpa p {
  color: #f49337;
}

.botonRpa i {
  color: #f49337;
}

.botonRob a {
  border: 1px solid #73bd2d;
}

.botonRob p {
  color: #73bd2d;
}

.botonRob i {
  color: #73bd2d;
}

.sliderContainer {
  margin: 0 auto;
  padding: 2em 0 2em;
  width: 100%;
}

.sliderContainer img {
  padding: 0 1em;
  height: 70px;
}

.logoSlider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSlider .item {
  padding: 1em;
}

.exito {
  padding-top: 5em;
  color: white;
  background: #f49337;
}

.exito .video {
  padding: 2em 0;
}

.exito video {
  width: 70%;
}

.exito .logosExito {
  padding: 2em 2em 4em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.final {
  background: #cc2e78;
}

.final a {
  background: #f49337;
}

footer {
  background: #454343;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.footer {
  display: grid;
  grid-template-areas:
    "logo linea links"
    "logo linea sm";
  gap: 1em;
}

.footer .logoFooter {
  grid-area: logo;
  align-self: center;
}

.footer span {
  font-size: 3em;
  border: 1px solid white;
  grid-area: linea;
}

.footer ul {
  list-style: none;
}

.footer .links {
  display: flex;
  flex-wrap: wrap;
  grid-area: links;
}

.footer .links li a {
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0 2em 0 0;
}

.footer .sm {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area: sm;
}

.footer .sm li {
  color: white;
  font-size: 1.5em;
  padding-right: 0.5em;
}

.whatsapp {
  padding: 0.5em 1.5em;
  border: 3px solid #25d366;
  border-radius: 50px;
  font-size: 21px;
  color: #25d366;
}

.whatsapp:hover {
  color: #fff;
}

.whatsappBg {
  padding-top: 2em;
  background-color: #454343;
}

.introPages {
  padding: 3em 2em 3em 2em;
}

.introTexto p:first-of-type {
  padding-top: 0;
}

.introPages h2 {
  color: #c72e78;
  font-size: 1.2em;
}

.introPages p {
  padding: 0;
  padding-top: 2em;
}

.atencion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 100%;
  background: rgb(244, 147, 55);
  background: linear-gradient(
    -90deg,
    rgba(244, 147, 55, 1) 0%,
    rgba(204, 46, 120, 1) 100%
  );
}

.atencion p {
  color: white;
  padding: 0 0 0 1em;
  text-align: start;
  width: 100%;
}

.chatbot {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.contenedorChatbot {
  position: relative;
  top: -70px;
}

.chatbot img {
  position: relative;
  top: 80px;
  text-align: center;
  width: 60%;
  z-index: 1;
}

.chatbot .bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 27px;
  margin: 0;
  padding: 6em 2em 2em 4em;
  width: 90%;
}

.chatbot .bullets .bullS li {
  padding: 0;
  padding-left: 0.25em;
}

.chatbot .bullets .bullS li p {
  position: relative;
  top: -0.4em;
  font-size: 18px;
  font-weight: 800;
  text-align: left;
  padding: 0;
}

.chatbot .bullets .bullS li::marker {
  font-size: 3em;
}

.skills {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.skills img {
  width: 40%;
}

.skills h2 {
  color: #58456a;
  padding: 1em;
}

.skills a {
  padding: 1em 2.5em;
  margin: 2em;
  border-radius: 2em;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background: #4f3c5f;
}

.cards {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding-bottom: 3em;
}

.cardSkill {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column wrap;
  margin: 1em;
  padding: 1em;
  border: 1px solid #6b3976;
  border-radius: 18px;
  width: 100%;
}

.cardSkill img {
  width: 70px;
}

.cardSkill h3 {
  color: #58456a;
  padding-left: 1em;
  text-align: left;
  width: min-content;
}

.cardSkill p {
  padding: 1em;
  font-size: 1em;
}

.nameSkill {
  padding: 1.5em 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modulos {
  background-image: url(../assets/img/bg-modulos.svg);
  background-size: cover;
  background-position: center center;
  border-radius: 29px;
  margin: 1em;
  padding: 1em;
}

.modulos h2 {
  color: white;
  padding: 0.5em;
}

.iconosModulos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.iconosModulos img {
  width: 120px;
}

.conocer {
  padding: 3em 2em;
}

.conocer h3 {
  font-size: 16px;
  font-weight: 400;
}

.conocer a {
  display: inline-block;
  color: #454343;
  border: 1px solid #c72e78;
  border-radius: 25px;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  font-size: 16px;
  color: #454343;
  width: 90%;
}

.conocerBotones {
  text-align: center;
  margin: 2em;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f49337;
  padding: 1em;
  width: 100%;
}

.counter div {
  padding: 1em;
}

.counter h2 {
  font-weight: 800;
  font-size: 48px;
  color: #ffffff;
}

.counter p {
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.comienza {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comienza a {
  padding: 1em 2.5em;
  border-radius: 2em;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #cc2e78;
}

.rpaVideo {
  background: #f49337;
  border-radius: 27px;
  margin: 1em;
  padding-bottom: 1em;
}

.rpaVideo .video {
  border-radius: 27px;
  margin: 0 1em 0 1em;
  overflow: hidden;
}

.rpaVideo .video img {
  width: 100%;
}

.rpaLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.rpaLogo img {
  width: 30%;
}

.rpaLogo p {
  display: inline-block;
  padding: 0;
  padding-left: 1em;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  text-align: start;
}

.sectores {
  padding: 2em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sectores h3 {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #000000;
  width: 60%;
}

.sectoresLogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin: 1em;
}

.sectoresLogo div {
  text-align: center;
  width: calc(50% - 10px);
  padding-top: 2em;
}

.sectoresLogo p {
  padding: 0;
  padding-top: 1em;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #454343;
}

.asesor {
  padding: 2em;
}

.asesor a {
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #cc2e78;
}

.asesor p {
  font-size: 20px;
}

.robots {
  text-align: center;
  background: #73bd2d;
}

.robots img {
  padding-top: 2.5rem;
  width: 150px;
}

.robots p {
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.robotVideo {
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  margin-top: 8em;
  padding: 0 2em 2em 2em;
  background: #73bd2d;
}

.robotVideo h3 {
  padding-top: 3em;
  padding-bottom: 1em;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}

.robotVideo .video {
  padding: 1em 0 2em;
}

.robotVideo .video video {
  border-radius: 27px;
  overflow: hidden;
  width: 100%;
}

.robotVideo::before {
  content: "";
  position: absolute;
  height: 160px;
  background: url(../assets/img/ojo-verde.svg);
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -80px;
}

.carrouselRobots {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 2em 1em 1em 1em;
}

.itemRobot {
  text-align: center;
  padding: 1em;
}

.itemRobot img {
  display: inline;
}

.itemRobot h2 {
  padding: 1.5em 0 0.5em;
}

.itemRobot p {
  padding: 0.5em 0;
}

.itemRobot p:last-of-type {
  padding-bottom: 2.5em;
}

.itemRobot a {
  padding: 1em 3em;
  border-radius: 2em;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #cc2e78;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  text-align: center;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-prev {
  left: 35px;
}

.slick-next {
  right: 35px;
}

.slick-next,
.slick-prev {
  z-index: 1000;
}

.slick-prev:before {
  content: url(../assets/img/left.svg);
}

.slick-next:before {
  content: url(../assets/img/right.svg);
}

.carrouselVideos .slick-next {
  right: -25px;
}

.carrouselVideos .slick-prev {
  left: -25px;
}

.heroAbout h1 {
  font-size: 32px;
  font-weight: 800;
  color: #454343;
}

.heroAbout {
  background: rgb(244, 147, 55);
  background: url(../assets/img/bg-about.svg),
    linear-gradient(90deg, rgba(244, 147, 55, 1) 0%, rgba(204, 46, 120, 1) 100%);
  background-size: cover;
  background-position: top;
}

.introAbout {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(244, 147, 55, 1) 0%,
    rgba(204, 46, 120, 1) 100%
  );
}

.introAbout p {
  padding: 2em 0;
  font-weight: 800;
  font-size: 20px;
  color: white;
}

.introAbout::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 50%;
  background: url(../assets/img/curva.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.introAbout::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: -1px;
  background: url(../assets/img/curva3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.como {
  padding: 2em;
  text-align: center;
}

.como h2 {
  font-weight: 800;
  font-size: 24px;
  color: #cf3575;
  padding: 1em 0;
}

.como img {
  width: 15%;
  padding-top: 1em;
}

.como p {
  padding: 1em;
  font-weight: 800;
  font-size: 20px;
  color: #454343;
}

.divider {
  display: inline-block;
  height: 3px;
  width: 33%;
  background: linear-gradient(
    -90deg,
    rgba(244, 147, 55, 1) 0%,
    rgba(204, 46, 120, 1) 100%
  );
  margin-top: 20px;
}

.rounded video {
  border-radius: 27px;
  overflow: hidden;
}

.team {
  text-align: center;
  padding: 2em 1em;
}

.team h2 {
  padding: 1em;
  font-weight: 800;
  font-size: 24px;
  color: #454343;
}

.gerentes {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-flow: row wrap;
}

.gerentes .humano {
  width: 100%;
}

.lideres {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-flow: row wrap;
}

.lideres .humano {
  width: 75%;
}

.humano {
  text-align: center;
  padding: 1em;
}

.humano img {
  width: 60%;
  border-radius: 3000px;
  border: 4px solid #cc2e78;
}

.humano h3 {
  padding-top: 1em;
  font-weight: 800;
  font-size: 24px;
  color: #454343;
}

.humano p {
  padding: 1em;
  font-size: 14px;
  color: #454343;
}

.equipo {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-flow: row wrap;
}

.equipo .humano {
  width: 50%;
}

.form {
  padding: 2em 3em;
  background-color: #454343;
}

.form .campo {
  padding: 0.5em;
}

.form .campo input,
.form .campo select,
.form .campo textarea {
  padding: 0.5em 1em;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
}

.warning {
  padding: 0.5em 1em 0;
  font-size: 14px;
  color: #f49337;
}

.enviar {
  font-size: 16px;
  font-weight: 800;
  color: white;
  padding: 1em 2em;
  width: 60%;
  border-radius: 25px;
  background-color: #36bf01;
  border: 0;
}

.formBotones {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.fondoGris {
  background: #f4f7fa;
}

.chatbot .fondoGris {
  background: #f4f7fa;
}

#btn-subir {
  display: none;
  font-size: 21px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  border: 0;
  background-color: #c92e78;
  color: white;
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  p {
    padding-left: 4em;
    padding-right: 4em;
  }

  .video video {
    width: 70%;
  }

  .bullets {
    width: 80%;
  }

  .exito video {
    height: 30%;
    width: auto;
  }

  .exitoHome video {
    height: auto;
    width: auto;
  }

  .logosExito {
    padding: 2em 3em 4em 3em;
  }

  .introPages {
    padding: 3em 4em;
  }

  .atencion {
    padding: 2em 5em;
  }

  .chatbot img {
    width: 40%;
  }

  .cards {
    padding: 1em;
    padding-bottom: 3em;
  }

  .modulos {
    width: 90%;
  }

  .conocer a {
    width: 70%;
  }

  .robotVideo {
    margin: 8em 2em 0 2em;
  }

  .itemRobot {
    padding: 1em 3em;
  }

  .rpaVideo {
    margin: 1em 3em;
  }

  .robotVideo .video video {
    width: 100%;
  }

  .gerentes .humano {
    width: 50%;
  }

  .lideres .humano {
    width: 45%;
  }

  .equipo .humano {
    width: 33%;
  }

  .botonHome a {
    width: 320px;
    padding-right: 1em;
  }

  .botonHome div {
    text-align: center;
  }
}

@media (min-width: 674px) {
  .cardSkill {
    width: 45%;
  }

  .form .campo,
  .formBotones {
    width: 550px;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .menu {
    display: block;
  }

  .heroAbout {
    background: rgb(244, 147, 55);
    background: url(../assets/img/curva4.svg),
      linear-gradient(
        90deg,
        rgba(244, 147, 55, 1) 0%,
        rgba(204, 46, 120, 1) 100%
      );
    background-size: cover;
    background-position: top;
  }

  .como {
    padding: 2em 20%;
  }

  .como img {
    width: 10%;
  }

  .team {
    text-align: center;
    padding: 2em 15%;
  }

  p {
    padding-left: 20%;
    padding-right: 20%;
  }

  .bullets {
    padding: 2em 20%;
  }

  .chatbot {
    padding: 0 20%;
  }

  .modulos {
    margin-left: 20%;
    margin-right: 20%;
  }

  .rpaVideo {
    margin: 1em 20%;
  }

  .sectoresLogo {
    margin: 1em 20%;
  }

  .sectoresLogo div {
    width: calc(30% - 10px);
  }

  .introPages {
    padding: 3em 20%;
  }

  .itemRobot {
    padding: 1em 20%;
  }

  .robotVideo {
    margin: 8em 20% 0 20%;
  }

  .slick-next {
    right: 20%;
  }

  .slick-prev {
    left: 20%;
  }

  .call {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: first baseline;
  }

  .conocer a {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .cards {
    padding-left: 15%;
    padding-right: 15%;
  }

  .rpaLogo img {
    width: 20%;
  }

  .conocer a {
    width: 30%;
  }

  .chatbot img {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .chatbot .bullets {
    width: 70%;
  }

  .chatbot img {
    width: 25%;
  }
}

.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
